h1 {
  color: maroon;
}

h2 {
  color: blue;
}

li {
  font-style: italic;
}

a {
  color: magenta;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

body {
  max-width: 500px;
  background-color: white;
  margin: 50px auto;
  border: 2px solid black;
  padding: 50px;
  border-radius: 10px;
}

html {
  background-color: aquamarine;
}
