html {
  background: url("backgrounds/mountain.png") center no-repeat fixed;
  background-size: cover;
}

i{
  font-size: 20px;
}

h1{
  font-size: 50px;
}

select {
  font-size: 15px;
}

.main {
  background-color: rgb(220, 220, 220, 0.9);
  width: 600px;
  padding: 70px;
  margin: 250px auto;
  border-radius: 10px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {
  padding: 50px;
  text-align: center;
  background: white;
  font-size: 20px;
  display: none;
}

.icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.tasktitle{
  padding-top: 25px;
}

.usertask {
  font-size: 30px;
}